In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [7]:
taxi_data = pd.read_csv('Reproducible-Research-Project/data/taxi_data.csv')

In [8]:
taxi_data.head()

,id,dropoff_latitude,dropoff_longitude,fare_amount,feat01,feat02,feat03,feat04,feat05,feat06,feat07,feat08,feat09,feat10,key,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude
0,1,40.768550,-73.862065,52.713,0.607633,0.680994,0.869333,0.359081,0.283538,0.898003,0.481185,0.558371,0.578114,0.995284,2014-01-08 06:07:00.00000017,5,2014-01-08 06:07:00 UTC,40.759570,-73.985715
1,2,40.746906,-73.990494,19.350,0.353808,0.555256,0.946294,0.530530,0.453938,0.708570,0.161038,0.271833,0.023567,0.165384,2015-02-16 20:57:00.0000005,1,2015-02-16 20:57:00 UTC,40.759457,-73.972038
2,3,40.697496,-73.984946,24.850,0.248761,0.271752,0.418165,0.368993,0.362234,0.257532,0.710595,0.330623,0.048495,0.579494,2014-03-18 13:54:02.0000007,1,2014-03-18 13:54:02 UTC,40.705860,-74.013626
3,4,40.767617,-73.959482,16.600,0.606718,0.809065,0.826723,0.228102,0.819767,0.859372,0.014095,0.511348,0.068574,0.030726,2014-03-20 18:56:00.000000141,1,2014-03-20 18:56:00 UTC,40.779830,-73.955313
4,5,40.726230,-73.983539,14.400,0.535181,0.873709,0.757857,0.263007,0.711840,0.635563,0.126834,0.357273,0.361902,0.722390,2014-05-06 23:10:01.0000001,1,2014-05-06 23:10:01 UTC,0.000000,0.000000