In [37]:
import utils.extract_df as extract_df
import utils.transform as transform 
import utils.main as main

In [28]:
extract_df.readcsv('data/taxi_data.csv')

,id,dropoff_latitude,dropoff_longitude,fare_amount,feat01,feat02,feat03,feat04,feat05,feat06,feat07,feat08,feat09,feat10,key,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude
0,1,40.768550,-73.862065,52.713,0.607633,0.680994,0.869333,0.359081,0.283538,0.898003,0.481185,0.558371,0.578114,0.995284,2014-01-08 06:07:00.00000017,5,2014-01-08 06:07:00 UTC,40.759570,-73.985715
1,2,40.746906,-73.990494,19.350,0.353808,0.555256,0.946294,0.530530,0.453938,0.708570,0.161038,0.271833,0.023567,0.165384,2015-02-16 20:57:00.0000005,1,2015-02-16 20:57:00 UTC,40.759457,-73.972038
2,3,40.697496,-73.984946,24.850,0.248761,0.271752,0.418165,0.368993,0.362234,0.257532,0.710595,0.330623,0.048495,0.579494,2014-03-18 13:54:02.0000007,1,2014-03-18 13:54:02 UTC,40.705860,-74.013626
3,4,40.767617,-73.959482,16.600,0.606718,0.809065,0.826723,0.228102,0.819767,0.859372,0.014095,0.511348,0.068574,0.030726,2014-03-20 18:56:00.000000141,1,2014-03-20 18:56:00 UTC,40.779830,-73.955313
4,5,40.726230,-73.983539,14.400,0.535181,0.873709,0.757857,0.263007,0.711840,0.635563,0.126834,0.357273,0.361902,0.722390,2014-05-06 23:10:01.0000001,1,2014-05-06 23:10:01 UTC,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,89996,40.787151,-73.952049,19.900,0.535587,0.677861,0.561279,0.422915,0.023729,0.182607,0.285767,0.358675,0.226000,0.267445,2015-06-09 07:48:04.0000005,2,2015-06-09 07:48:04 UTC,40.767300,-73.968582
89996,89997,40.727375,-73.995237,19.350,0.520380,0.691482,0.886975,0.601929,0.511175,0.507924,0.020218,0.431802,0.399165,0.002297,2014-12-11 10:33:00.000000109,1,2014-12-11 10:33:00 UTC,40.734920,-73.998545
89997,89998,40.763532,-73.981185,17.700,0.529983,0.993864,0.645237,0.527858,0.231053,0.394276,0.447921,0.364127,0.160507,0.319796,2014-12-05 22:34:00.000000160,1,2014-12-05 22:34:00 UTC,40.756892,-73.990282
89998,89999,40.748657,-73.908997,27.600,0.533111,0.309530,0.643218,0.880006,0.026861,0.060154,0.304693,0.611958,0.514941,0.450278,2014-01-16 14:59:00.00000032,6,2014-01-16 14:59:00 UTC,40.765982,-73.969302
89999,90000,40.751923,-73.973625,28.150,0.415703,0.850471,0.568053,0.536963,0.570001,0.779374,0.632596,0.588545,0.274247,0.408448,2015-01-11 00:32:55.0000002,2,2015-01-11 00:32:55 UTC,40.705791,-74.009979

In [29]:
extract_df.readshp('data/nyc-boundaries/geo_export_9ca5396d-336c-47af-9742-ab30cd995e41.shp')

,boro_code,boro_name,shape_area,shape_leng,geometry
0,5.0,Staten Island,1.623621e+09,325917.353950,"MULTIPOLYGON (((-74.05051 40.56642, -74.05047 ..."
1,1.0,Manhattan,6.365205e+08,357713.308162,"MULTIPOLYGON (((-74.01093 40.68449, -74.01193 ..."
2,2.0,Bronx,1.187175e+09,463180.579449,"MULTIPOLYGON (((-73.89681 40.79581, -73.89694 ..."
3,3.0,Brooklyn,1.934138e+09,728146.574928,"MULTIPOLYGON (((-73.86327 40.58388, -73.86381 ..."
4,4.0,Queens,3.041419e+09,888199.731385,"MULTIPOLYGON (((-73.82645 40.59053, -73.82642 ..."

In [38]:
df_transform = transform.dataTransformation(df = extract_df.readcsv('data/taxi_data.csv'), 
nyc = extract_df.readshp('data/nyc-boundaries/geo_export_9ca5396d-336c-47af-9742-ab30cd995e41.shp'))

In [48]:
df_transform.transform()

KeyError: "['id', 'key'] not found in axis"

In [60]:
! streamlit run Homepage.py

  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://192.168.1.13:8501

  For better performance, install the Watchdog module:

  $ xcode-select --install
  $ pip install watchdog

/Users/irenaz/.pyenv/versions/3.9.18/lib/python3.9/site-packages/dask/dataframe/__init__.py:31: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)
^C
  Stopping...